@tailwind base;
@tailwind components;
@tailwind utilities;

.checkers-background{
  background-image: url('./assets/checkers_bg.jpg');
  /* background-repeat: none; */
  background-size:cover;
  /* height: 100vh; */
  overflow: hidden;
}